* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("background_image.jpg");
    background-position:center;
    background-size: cover;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    color: white;
    opacity: 0.8;
    margin-right: 45px;
}

.clock {
    display: flex;
}

.clock div {
    margin: 8px;
}

.clock span {
    height: 140px;
    width: 170px;
    background-color: rgb(106, 153, 78);
    color: white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.8);
}

.clock .text {
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(56, 102, 65);
    opacity: 0.8;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.clock #ampm {
    height: 50px;
    width: 50px;
    font-size: 18px;
    margin-top: 110px;
}

.D {
    background-color:  rgb(56, 102, 65);
    opacity: 0.8;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 65px;
}

.D #date {
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}